*https://m.mehdia-amazon.com/images/G/31/gno/sprites/narite-global-2x-reorg-celnav._CB590297325_.png8*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;

}
.header{

    background-color: rgb( 19,25,33);
    height: 60px;
    color: white;
}

/* layout**/
.container{
    width: 99%;
    /*background-color: red;*/
    height: 100%;
    margin: auto;
}
.container-header{
    display: flex;
    align-items: center;
}


/**logo***/
 .logo-container{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    /*overflow: hidden;*/

}
.logo{
    width: 120px;
    height: 50px;
    background:url('https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-reorg-celnav._CB590297325_.png');
    background-repeat: no-repeat;
     background-position-y: -40px;
     overflow: hidden;
     
}
.dotin{
    position: relative;
    margin-left: -13px;
    margin-top: -10 px;
}
.border-white{
    padding: 5px;
    border: 1.5px solid transparent;

}

.border-white:hover{
    border: 1.5px solid #ffffff;

}
/***address container**/
.address-container{
    margin-left: 15px;

}

/****address******/
.address-container p{
    margin: 0;

}
.icon-address {
    display: flex;
    align-items: center;
}
.hello{
    font-size: 0.8rem;
    padding-left: 20px;
    color: #ccc;
}
.icon-location{
    margin-right:7px ;

}
/***search-container ****/
.search-container{
    background-color: red;
    margin-left: 25px;
    width: 640px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;

}
.search-container:hover{
    outline:3px solid orange;
}
.search-select{ 
    width: 60px;
    border: none;
    background-color: rgb(230,227,227)
}
.search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 1.1rem;

}
.search-icon{
    width: 50px;
    background-color:rgb(235,160,94) ;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 1.2rem;
    color: #000;

}
/***language section**/
.language-container{
    margin-left: 25px;
}
.language-container p{
    font-size:  0.8rem; 
    margin: 0;

}
.lauguge-image{
    width: 20px;

}
.lauguge-image img{
    width: 100%;

}
.login-container{
    margin-left: 15px;

}



.login-container p{
    margin: 0;
}
.account{
    font-weight: 900;
    font-size: 1.1rem;

}
.return-order-container{
    width:63px ;
    font-size: 0.9rem;
}
.return-order-container p{
    margin: 0;

}
.order{
    font-size: 1rem;
    font-weight:900 ;
    display: flex;
    width: 70px;
}
/****cart container***/
.cart-container{
    font-size:1.1 rem;
    display: flex;

}

.cart-container i{
    font-size: 1.7rem;
}
/*hero section*/
.hero-section{
    background-image: url("image.png");
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    
}

.hero-msg{
    background-color: hsl(0, 0%, 100%);
    color: #000;
    height: 40px;
    display: flex;
    align-items:center ;
    justify-content: center;
    font-size: 0.85rem;
    width: 80;
    margin-bottom: 25px;
}
/** shop section**/
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-size: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    height:300px ;
    background-image: cover;
   margin-top: 1 rem;
   margin-bottom: 1 rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}







